@import "./_mixins.less";

.table {
  margin:25px auto;
  border-bottom:2px solid #bfe2e0;
  background: #edfaf9;
  border-collapse: collapse;

  .table__th {
    background: #168e7d;
    font-weight: bold;
    font-size: 17px;
    color:#fff;
    padding:10px;
  }
  
  .table__cell {
    font-size: 15px;
    padding:10px 25px;
    border: 1px solid #bfe2e0;

    &:last-child {
      border-right: none;  
    }

    &:first-child {
      border-left: none;
    }
  }
 }

.collapse {
  transition: height 0.5s ease;
  
  visibility: visible;
  height: auto;
  
  @media @mobiles {
    height: 0;
    visibility: hidden;
  }

 

  &.in {
    visibility: visible;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.navbar {
  transition:height 0.5s ease;
  &--default {
    @media @mobiles {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;

      z-index: 999;
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    z-index: 1000;
  }
  &--top {
    background-color: rgba(44, 142, 130, 0.8);
    height: 45px; 

    @media @xs {
      min-height: 45px;
      height: auto;
    }
    @media @sm {
      min-height: 45px;
      height: auto;
    }
  }

  &__nav {
    display: block;
  }

  &__brand {
    display: none;
  }
  &__toggler {
    display: none;

    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    @media @xs {
      display: block;
    }
    @media @sm {
      display: block;
    }
  }
}
.navbar-toggler__icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav {
  position: relative;

  list-style: none;

  &__item {
    display: inline-block;

    &--aside {
      display: block;
      border-bottom: 1px solid #d1e9e5;
      //border-top: 1px solid #fff;
    }
    &--hermit {
      float: right;
      background-color: #007b6d;
      @media @mobiles, @md {
        display: none;
      }
    }

    @media @mobiles {
      display: block;
      text-align: center;
    }
  }

  &__link {
    display: block;
    text-decoration: underline;
    color: #ffffff;
    height: 100%;

    &--top {
      line-height: 45px;
      padding: 0 15px;
      &:hover,&:active,.nav___link--active {
        background-color: #1D9B89;
        color:#ffffff;
      }
    }

    &--aside {
      position: relative;
      
      color: #3b8e83;
      background-color: #EEFAFA;
      padding: 0 10px 0 40px;
      
      font-size: 16px;
      line-height: 32px;
      text-decoration: none;
      
      &:hover {
        text-decoration: none;
        color:#183A4D;  
      }
    }
  }
  
  &__dropdown {
    display: none;
  }
  
  &__title {
    background: none repeat scroll 0 0 #28958f;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
  }  
}
   


article * {
  color:#183A4D;
}


.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid #ccc;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
  text-decoration: none;
}


/* Хлебные крошки */

.breadcrumbs {
  &__item {
    display:inline-block;
  }
  
  &__link {
    text-decoration:underline;
    color:#42A89A;

    &:hover {
      color:#183A4D;
    }
  }

  @media @xs {
    margin-bottom: 5px;
  }
}


/* контактная информация */
.contacts {
  background:#edfaf9; 
  padding: 15px 20px;
  
  border-bottom: 3px solid #bfe2e0;
  
  &__map {
    margin-top:-20px; 
    margin-left:-20px;
    margin-right: -20px;
    margin-bottom: 20px;

    @media @xs {
      margin-bottom: 0;
    }
  } 

  @media @xs {
    padding-bottom:0;
  } 

  &__desc {
    padding: 0 15px;
  }
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.clearfix {
  clear:both;
}

.img {
  &--responsive {
    width: 100%;
  }
}

.tabs {
  margin-left:-15px;
  margin-right: -15px;

  &__link {
    padding: 0 15px;
  }
  &__header {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    
    color: #183a4d;
  }

  &__selector {
    padding: 0 15px;    
    list-style: none;
  }

  &__tab {
    display: inline-block;
    transition: background 0.5s ease;
    margin-right: 5px;
    
    &--active,&:hover {
      background-color: #42A89A;

      .tabs__link {
        color:#ffffff;
      }
    }
  }
  &__content {
    width: 100%;
    display: block;
  }

  &__header,&__selector {
    display: inline-block;
    margin-bottom: 15px;

    @media @mobiles {
      display: block;
      text-align: center;
    }

    @media @xs {
      margin-bottom: 5px;
    }
    @media @sm {
      margin-bottom: 10px;
    }
  }
}

.tab {
  &__content {
    display: none;
    &--active {
      display: block;
    }
  }
}


.info {
  &__block {
    text-align: center;
    
    border-right: 1px solid #d7f1ed;
    vertical-align: top;
    
    &:last-child {
      border-right: none;
    }

    @media @md {
      text-align: right;
      padding-right: 30px;
      
      &:nth-child(2n) {
        text-align: left;
        padding-left: 60px;
      }
    }
    @media @xs {
      border:none;
      text-align: center;
      border-top: 1px solid #d7f1ed;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 10px;

    }
    @media @sm {
      border-right: none;
      margin-bottom: 10px;
      &:nth-child(2n+1) {
        border-right: 1px solid #d7f1ed;
      }
    }

     &--white {
      border:none !important;

      @media @sm {
        border-right:none;
      }

      * {
        color:#ffffff;
      }
      
    }
  }
}

.header .info__block {
  text-align: center;
  padding-left: 15px;
}


.sprite {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  
  line-height: 28px;

  &:before {
    content: "";
    
    position: absolute;

    height: 20px;
    width: 20px;

  }

  &--phone {
    &:before {
      background: url("/img/sprites.png") repeat scroll 115px 137px rgba(0, 0, 0, 0);  
      top: 5px;
      left: -25px;
    }
  }
  &--phone-white {
    &:before {
      background: url("/img/sprites.png") repeat scroll 85px 215px rgba(0, 0, 0, 0);
      top: 5px;
      left: -25px;
    }
  }

  &--email {
    &:before {
      background: url("/img/sprites.png") repeat scroll 135px 156px rgba(0, 0, 0, 0);
      top: 5px;
      left: -25px;
    }
  }

  &--fax {
    &:before {
      background: url("/img/sprites.png") repeat scroll 66px 140px rgba(0, 0, 0, 0);
      top: 5px;
      left: -27px;
    }
  }
  
  &--address {
    &:before {
      width: 25px;
      background: url("/img/sprites.png") repeat scroll 152px 2px rgba(0, 0, 0, 0);
      left: -30px;
      top: 4px;
    }
  }

  &--address-white {
    &:before {
      width: 25px;
      background: url("/img/sprites.png") repeat scroll 152px -22px rgba(0, 0, 0, 0);  
      left: -30px;
      top: 4px;
    }
  }
  
  &--directions {
    &:before {
      background: url("/img/sprites.png") repeat scroll 155px 150px rgba(0, 0, 0, 0);
      left: -25px;
      top: 8px;
    }
  }

  &--yes {
    &:before {
      background: url("/img/sprites.png") repeat scroll 175px 35px rgba(0, 0, 0, 0);
    }
  }
  &--no {
    &:before {
      background: url("/img/sprites.png") repeat scroll 175px 54px rgba(0, 0, 0, 0);
    }
  }
}


.sorter {
  &__item {
    display: inline-block;
    
    margin-right: 15px;
    
    a {
      color:#09715E;
      padding: 0 5px;
      line-height: 25px;
    }
    
    &:hover, &--active {
      background-color: #016A5C; 
      a {
        color: #ffffff;
        text-decoration: none;
        
      }
      
    }
  }
  &__link {
    display: block;
  }
}

.cart {
  height: 49px;
  float: right;
  
  border: 2px solid #fff;
  
  padding: 0 25px;
  cursor:pointer;
  background-color: #2E978A;
  color: #ffffff;
  font-size: 16px;
  line-height: 45px;
  
  &:hover {
    background-color: #007B6D;
  }

  @media @mobiles {
    height: 45px;
    position: fixed;
    top: 0;
    right: 0;
    border:none;
    z-index: 1001;
  }
}

.flexslider {
  border: none;
}
.flex-active {
  border:2px solid #299790;
}

.big-image {
  padding: 0 15%;
  text-align: center;
  &__desc {
    font-style: italic;
    color: #477984;
  }
}
.map {
  height: 300px;
  width: 100%;
}

.feedback {
  background-color: #edfaf9;
  padding: 15px;
  border-bottom: 3px solid #BFE2E0;
  margin-top: 25px;
}

.form {
  &__name {
    font-size: 24px;
    color: #183a4d;
    margin-top: 0;
  }
}