.input-group {
  position: relative;
  margin-bottom: 15px;
  
  &__label {
    padding: 0;
    display: inline-block;
  }

  &__input {
    border: none;
    width: 100%;
    padding: 0 15px;
    line-height: 30px;

    transition: border-color 0.3s ease;
    
    border:1px solid transparent;
    
    &--error {
      border:1px solid #ff4c45;
    }
  }

  &__text {
    width: 100%; 
    border: none;
    resize: none;

    padding: 5px 15px;
  }

  &__placeholder {
    position: absolute;
    left: 15px;
    z-index: 1;
    transition: all .3s ease;
    top: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #b3b3b3;
  }
}




[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + .input-group__label,
[type="checkbox"]:checked + .input-group__label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;

  font-size: 12px;
}

[type="checkbox"]:not(:checked) + .input-group__label:before,
[type="checkbox"]:checked + .input-group__label:before {
  content: '';
  position: absolute;
  left: 0; 

  top: 0;
  width: 20px; 
  height: 20px;
  
  background: #fff;
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + .input-group__label:after,
[type="checkbox"]:checked + .input-group__label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 4px;
  
  font-size: 15px;

  color: #1FAEB2;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + .input-group__label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + .input-group__label:after {
  opacity: 1;
  transform: scale(1);
}