@import "./_mixins.less";

.page-buffer {
    height: 100px;
}


.aside {
  margin-bottom: 15px;
}

.row {
  &--center {
    align-items:center;
    justify-content:space-between;
    padding: 20px 0;
  }
}
.img {
	&--responsive {
		display: block;
		width: 100%;
		height: auto;
	}
}

.container {
  position: relative;
  
  &--main {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
     padding-top:80px;  

     @media @xs {
       padding-top: 15px;
     }
  }
  &--content {
     padding-top: 30px;
  }
}
.col-offset-3 {
  @media @desktop {
    margin-left: 25%;
  }
}