@import "./_mixins.less";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
	margin-bottom: -100px;
	 min-height: 100%;

}


.page-buffer {
    height: 100px;
}

.container {
	position: relative;
	/*padding-left: 60px;
	padding-right: 60px; */
	
	&--main {
	  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
 	  padding-top:80px;	

 	  @media @xs {
 	  	padding-top: 15px;
 	  }
	}
}

/* header and footer */
.header {
	position: relative;

	background: url("../img/bg_logo.jpg") no-repeat scroll center -147px #379e9a;
	background-size: cover;
	background-position: center top; 
  color:#fff;
	
	&--big{
		height: 350px;

		@media @xs {
			height: 200px;
		}

		@media @sm {
			height:280px;
		}

		
	}
	&--small {
		height: 165px;
	}
	&__container {
		overflow: visible;
		position:relative;
		z-index: 999;
	}

	&__logo {
		&--small {
			position:relative;
			float:left;
			top:20px;			

			.img-logo {
				width: 260px;				
			}

			h1 {
				display: none;
			}
		}
	}
}


/* logo */


.logo {
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 70px;
  
  white-space: nowrap;

	&__text {
		color: #fff;
		font-size: 27px;
		padding-left: 50px;
		padding-top: 10px;
		text-align: center;
		text-transform: uppercase;

		span {
			display:none;
		}

		@media @xs {
			font-size: 18px;
		}

		@media @sm {
			font-size: 18px;
		}
	}

	&__img {
		display:block; 	
		width:200px;
		margin: 0 auto;
		
		@media @sm {
			width: 350px;
		}
		@media @md {
			width: 500px;
		}
		@media @lg {
			width:500px;
		}	

		@media @xl {
			width:500px;
		}

	}
		
	&__link {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	@media @xs {
		top: 60px;
	}
}

.sublogo {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50px;
	margin: auto;
	text-align: center;
	width: 430px;
	@media @sm {
		width: 350px;
	}	
	&--big {

	}

	&--small {
		float: left;
		position: relative;
		top: 30px;		
	}

	&__text {
		display: block;
		margin:0;
		padding:0;	
		background: #168e7d;
		color:#fff;
		font-size:26px;
		line-height: 35px;
		vertical-align: middle;
		
		&:nth-child(2) {
			padding-bottom:5px;
			
			margin: 0 auto;
			
			width: 340px;	
			@media @sm {
				width: 280px;
			}	
		}

		@media @sm {
			font-size: 21px;
		}
	}

	@media @xs {
		display: none;
	}
}



.footer {
	background: #007B6D;
	&__container {
		padding:60px;
	}

	&__content {
		padding: 15px 0;
		&:last-child {
			border-top: 1px solid #ffffff;
			padding-bottom: 0;
		}
	}

	* {
		color: #ffffff;	
	}
	
}

.catalog {
	color:#ffffff;

	&:before {
		background: url("../img/sprites.png") repeat scroll 105px 96px rgba(0, 0, 0, 0);
		content: "";
		float: left;
		height: 20px;
		margin-left: -25px;
		margin-top: 12px;
		width: 20px;
	}
}


/* sections at home */
.contents {
	&__title {
		font-size: 28px;
		@media @xs {
			font-size: 21px;
			text-align: center;	
		}
		
	}

	&__link {
		font-weight: bold;
		color: #006b5c;
		font-size: 23px;
		@media @xs {
			font-size: 18px;
		}
	}

	&__text {
		font-size: 18px;
		@media @xs {
			text-align: center;
			font-size: 15px;
		}
	}

}
.production, .services,.contacts {
  margin-bottom:40px;

  @media @xs {
  	margin-bottom: 15px;
  }
}

.production {
	&__img {
		text-align: center;
		
		@media @xs {
			display: none;
		}
		@media @sm {
			display: none;
		}
	}
}


.service {
	margin-bottom: 30px;
	&__item {
		display:inline-block;
		margin-bottom: 30px;
		padding-left: 80px;		
		
		p {
			font-size: 15px;
		}

		&--tools {
			background:url("../img/tools.png") no-repeat scroll;
		}
		&--accesories {
			background:url("../img/acc.png") no-repeat scroll;
		}
	}
	@media @xs {
		padding: 0 15px;
	}
	&__title {
		margin-bottom: 5px;
	}
}

/* regions */
.regions {
	margin-bottom: 30px;
	
	&__title {
		font-size: 22px;
  	font-weight: bold;
  	color:#183a4d;	
	}
}